Repository linz/linz-software-repository: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, shellcheck_other, shfmt_other

.pre-commit-config.yaml:

---
# Configuration file for pre-commit (https://pre-commit.com/)

repos:
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        types: [dockerfile]
        stages: [commit]

      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        files: \.nix$
        language: system
        stages: [commit]

      - id: prettier
        name: prettier
        entry: prettier
        args: [--ignore-unknown, --list-different, --write]
        types: [text]
        language: system
        stages: [commit]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        types: [shell]
        language: system
        stages: [commit]

      # TODO: Remove if https://github.com/pre-commit/identify/issues/350 is fixed
      - id: shellcheck_other
        name: shellcheck other
        entry: shellcheck
        files: ^\.envrc$
        language: system
        stages: [commit]

      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        args: [--case-indent, --indent=4, --list, --space-redirects, --write]
        types: [shell]
        language: system
        stages: [commit]

      # TODO: Remove if https://github.com/pre-commit/identify/issues/350 is fixed
      - id: shfmt_other
        name: Format other shell scripts
        entry: shfmt
        args: [--case-indent, --indent=4, --list, --space-redirects, --write]
        files: ^\.envrc$
        language: system
        stages: [commit]

refactor: Use an array for remotes
  docker-action/entrypoint.bash
Due: none

feat: Use Niv to lock nixpkgs
  bump-nix.bash
  nix/sources.json
  nix/sources.nix
  nixpkgs.json
  shell.nix
Due: nixpkgs-fmt

feat: Simplify direnv
  .envrc
Due: shellcheck_other, shfmt_other

build: Bump nixpkgs
  nix/sources.json
Due: none

build: Use unstable nixpkgs
  nix/sources.json
Due: none
